.advantages__container {
    padding-top: 215px;
    padding-bottom: 30px;
}

.advantages__list {
    display: flex;
    align-items: center;
    justify-content: center;
    list-style: none;
}

.advantages__item {
    max-width: 362px;
    padding: 135px 15px 47px;
    margin-right: 30px;
    box-shadow: 0px 4px 16px rgba(0, 66, 148, 0.08);
    border-radius: 5px;
}

.advantages__item:last-child {
    margin-right: 0;
}

.advantages__title {
    margin-bottom: 25px;
    text-align: center;
}

.advantages__text {
    text-align: center;
}