.footer__top {
    background-color: #0F7BFF;
}

.footer__container.top {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 118px;
    padding-bottom: 118px;
}

.footer__logo {
    margin-bottom: 30px;
}

.form {
    display: flex;
    align-items: center;
}

.form__input {
    margin: 0;
    padding: 11px 28px 15px 28px;
    width: 558px;
    height: 50px;
    font-size: 16px;
    line-height: 24px;
    color: #FFFFFF;
    border: none;
    border-radius: 25px 0px 0px 25px;
    background-color: #0063DD;
    transition: all 0.3s ease 0s;
}

.form__input:focus {
    border: 2px solid #fff;
    outline: none;
}

.form__input:hover {
    background-color: #59a0f7;
}

.form__input::placeholder {
    font-size: 16px;
    line-height: 24px;
    color: #FFFFFF;
}

.form_btn {
    padding: 11px 38px;
    border: 2px solid #FFFFFF;
    border-radius: 0px 25px 25px 0px;
    font-size: 16px;
    font-weight: 700;
    line-height: 24px;
    color: #0063DD;
    background-color: #FFFFFF;
    transition: all 0.3s ease 0s;
}

.form_btn:focus {
    background-color: #59a0f7;
    color: #ffffff;
    outline: none;
}

.form_btn:hover {
    background-color: #0063DD;
    color: #ffffff;
}

.form_btn:active {
    background-color: #065cc5;
    color: #ffffff;
}

.footer__bottom {
    background-color: #0063DD;
}

.footer__container.bottom {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding-top: 50px;
    padding-bottom: 50px;
}

.copyright {
    margin-right: 248px;
    font-size: 16px;
    font-weight: 300;
    line-height: 24px;
    color: #FFFFFF;
}

.footer__list {
    display: flex;
    align-items: center;
    margin: 0;
    padding: 0;
    margin-right: 84px;
    list-style: none;
}

.footer__item {
    margin-right: 30px;
}

.footer__item:last-child {
    margin-right: 0;
}

.footer__link {
    font-size: 16px;
    font-weight: 300;
    line-height: 24px;
    color: #FFFFFF;
    transition: all 0.3s ease 0s;
}

.footer__link:focus-visible {
    outline: 2px solid #fff;
}

.footer__link:hover {
    border-bottom: 2px solid #fff
}

.footer__link:active {
    color: #b3d1f8;
    border: none;
}

.netzwerke {
    display: flex;
    align-items: center;
    margin: 0;
    padding: 0;
    margin-right: 160px;
    list-style: none;
}

.netzwerke__item {
    margin-right: 17px;
}

.netzwerke__item:last-child {
    margin-right: 0;
}

.netzwerke__link {
    display: block;
    width: 30px;
    height: 30px;
    background-repeat: no-repeat;
    background-position: center;
    transition: all 0.3s ease 0s;
}

.netzwerke__link:hover {
    outline: 1px solid #fff;
}

.netzwerke__link:focus {
    outline: 1px solid #fff;
}

.netzwerke__link:active {
    background-color: #59a0f7;
}

.facebook {
    background-image: url('../img/face.svg');
}

.twitter {
    background-image: url('../img/twitter-footer.svg');
}

.youtube {
    background-image: url('../img/YouTube.svg');
}

.scrol-up {
    width: 73px;
    height: 70px;
    border: none;
    border-radius: 60px;
    background-color: transparent;
    background-image: url("../img/Scroll-up.svg");
    background-repeat: no-repeat;
    background-position: center;
    transition: all 0.3s linear 0s;
}

.scrol-up:hover {
    opacity: 0.5;
    background-color: #73b1fd;
}

.scrol-up:active {
    opacity: 0.3;
    background-color: #0F7BFF;
}

.scrol-up:focus-visible {
    opacity: 0.6;
    border: 1px solid #050e8b;
    outline: none;
}