.hero__container {
    padding-top: 65px;
    background-image: url("../img/phones.png");
    background-repeat: no-repeat;
    background-position: bottom center;
    background-position-y: 375px;
}

.hero__content {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.hero__heading {
    margin-top: 0;
    margin-bottom: 30px;
    font-size: 36px;
    font-weight: 700;
    line-height: 45px;
    text-align: center;
    color: #000000;
}

.hero__text {
    margin-top: 0;
    margin-bottom: 33px;
    max-width: 670px;
    font-size: 16px;
    font-weight: 400;
    line-height: 27px;
    text-align: center;
    color: #929292;
}

.buttons { 
    margin-bottom: 600px;
}

.button__hero {
    padding: 15px 47px;
    font-size: 16px;
    font-weight: 700;
    line-height: 20px;
    border: 2px solid #0F7BFF;
    border-radius: 25px;
    color: #0F7BFF;
    background-color: #ffffff;
    transition: all 0.3s ease 0s;
    cursor: pointer;
}

.button__hero:focus {
    background-color: #59a0f7;
    border: 2px solid #59a0f7;
    color: #ffffff;
    outline: none;
}

.button__hero:hover {
    background-color: #0F7BFF;
    color: #ffffff;
}

.button__hero:active {
    background-color: #065cc5;
    border: 2px solid #065cc5;
    color: #ffffff;
}

.color:hover {
    color: #0F7BFF;
    background-color: #ffffff;
}

.color:active {
    background-color: #065cc5;
    border: 2px solid #065cc5;
    color: #ffffff;
}

.color {
    margin-right: 30px;
    color: #ffffff;
    background-color: #0F7BFF;
    transition: all 0.3s ease 0s;
}

.scrol-down {
    position: absolute;
    bottom: -60px;
    left: auto;
    width: 114px;
    height: 114px;
    border: none;
    border-radius: 60px;
    background-color: transparent;
    background-image: url("../img/Scrol.png");
    background-repeat: no-repeat;
    background-position: center;
    transition: all 0.3s ease 0s;
}

.scrol-down:hover {
    background-color: #73b1fd;
}

.scrol-down:active {
    background-color: #0F7BFF;
}

.scrol-down:focus {
    background-color: #065cc5;
    outline: none;
}


.wave {
    position: absolute;
    bottom: 0;
}
