*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  font-family: 'Quicksand', sans-serif;
}

input, button, textarea {
  font-family: inherit;
}

a {
  text-decoration: none;
}

.container {
  padding: 0 15px;
  max-width: 1675px;
  margin-right: auto;
  margin-left: auto;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.common-container {
  background-image: url("../img/Vector.svg");
  background-repeat: no-repeat;
  background-position: top;
}

.title {
  margin: 0;
  font-size: 18px;
  font-weight: 500;
  line-height: 22px;
  color: #000000;
}

.text {
  margin: 0;
  font-size: 16px;
  font-weight: 300;
  line-height: 24px;
  color: #000000;
}

.heading {
  margin: 0;
  font-size: 32px;
  font-weight: 500;
  line-height: 40px;
  color: #000000;
}